FIREBASE_PROJECT_ID="brickify999"
ADMIN_EMAILS="YOUR_ADMIN_EMAIL@gmail.com"
FIREBASE_API_KEY="YOUR_FIREBASE_API_KEY"
FIREBASE_APP_ID="YOUR_FIREBASE_APP_ID"
FIREBASE_MESSAGING_SENDER_ID="YOUR_MESSAGING_SENDER_ID"
FIREBASE_MEASUREMENT_ID="YOUR_MEASUREMENT_ID"
